### 1- positive or negative number

In [1]:
num=eval(input("Enter a number:"))
if num>0:
    print("number is positive",num)
elif num<0:
    print("number is negative",num)
else:
    print("number is zero",num)

Enter a number:1
number is positive 1

## 2- Even or odd number

In [2]:
num1=eval(input("Enter a number:"))
if num1>0:
    if num1%2==0:
        print("Number is even",num1)
    elif num1%2!=0:
        print("numbner is odd",num1)
else:
    print("number is zero or less then zero",num1)

Enter a number:1
numbner is odd 1

In [ ]:
num=eval(input("enter a number "))
a=2
s=num//a
d=s*a
if d==num:
    print("number is even",num)
else:
    print("number is odd",num)

In [ ]:
num=4
if num & 1:
    print("odd")
else:
    print("even")

## 3- sum of the n natural numbers

In [ ]:
num2=eval(input("enter a number:"))
sum1=0
for i in range(1,num2+1):
    sum1+=i
print(sum1)

## 4- sum of number is a given range

In [ ]:
first=eval(input("enter a first number"))
second=eval(input("enter a second number"))
sum1=0
for i in range(first,second+1):
    sum1+=i
print(sum1)

In [ ]:
f=eval(input("enter a first number"))
s=eval(input("enter a second number"))
a=f*(f-1)//2
b=s*(s+1)//2
d=b-a
d

## 5- Greatest of tow number

In [ ]:
## Greatest of tow number
first=eval(input("enter first  number"))
second=eval(input("enter second number"))
if first>second:
    print("first number is greatest number",)
else:
    print("second number is greatest number",)

## 6- Greatest of three number

In [ ]:
first=eval(input("enter first  number"))
second=eval(input("enter second number"))
third=eval(input("enter third number"))
if first > second and first > third:
    print("first number is greatest ",first)
elif second > first and second > third:
    print("second number is greatest",second)
else:
    print("third number is greatest",third)

## 7- leap year or not

In [ ]:
year=eval(input("enter a year"))

if year%400==0:
    if year%4==0:
        print(" a leap year",year)
else:
    print("not a leap year",year)

## 8- prime number

In [ ]:
import math
num=eval(input("enter a number : "))

if num>8:
    for i in range(2,num+1):
        #print(i)
        if num==math.sqrt(num):
            print("number is not prime",num)
    else:
        print("number is prime",num)
elif num>2 and num<9:
    if num%2!=0:
        print("number is prime",num)
else:
    print("number is not prim",num)

## 9- prime number within a given range

In [10]:
import math
first=eval(input("enter a first number"))
second=eval(input("enter a second number"))
for x in range(first,second+1):
    num=x
    if num>8:
        for i in range(2,10):
            if num==math.sqrt(num):
                print("number is not prime",num)
        else:
            print(" a number is prime",num)
    elif num>2 and num<9:
        if num%2!=0:
            print("b number is prime",num)

enter a first number1
enter a second number8
b number is prime 3
b number is prime 5
b number is prime 7

In [ ]:
# f=eval(input("enter a number"))
s=eval(input("enter a number"))
for i in range(f,s+1):
    count=0
    for x in range(2,i//2):
        if i%x==0:
            count+=1
    if count==0:
        print(i)

## 10- sum of a digit of number

In [ ]:
num=eval(input("enter a number"))
sum1=0
while num!=0:
    rem=num%10
    sum1=sum1+rem
    num=num//10
print(sum1)

## 11- Reverse of a number

In [ ]:
num=eval(input("Enter a number: "))
rev=0
while num!=0:
    rem=num%10
    rev=rev*10+rem
    num=num//10
print(rev)

## 12- palindrome number

In [ ]:
num1=eval(input("Enter a number"))
num2=num1
rev=0
while num1!=0:
    rem=num1%10
    rev=rev*10+rem
    num1=num1//10
if num2==rev:
    print("Number is palindrome",num2)
else:
    print("Number is not palindrome",num2)

## 13- find the all palindrome number between 100 to 500

In [ ]:
start=eval(input("Enter  a number frome start: "))
end=eval(input("Enter a number frome end: "))
for i in range(start,end+1):
    num=i
    rev=0
    number=num
    while num!=0:
        rem=num%10
        rev=rev*10+rem
        num=num//10
    if number == rev:
        print(f"number is pelindrome:{rev}")

## 14- Armstrong number (153=1^3+5^3+3^3=153)

In [ ]:
num=eval(input("enter a number"))
num1=num
sum1=0
while num!=0:
    rem=num%10
    sum1=sum1+rem**3
    num=num//10
if sum1 == num1:
    print("This Number is Armstrong",num1)
else:
    print("This number is not Armstrong",num1)

## 15- Armstrong number in between 100 to 500

In [ ]:
start=eval(input("Enter from start number:"))
end=eval(input('Enter from end number: '))
for i in range(start,end+1):
    num=i
    num1=num
    rev=0
    while num!=0:
        rem=num%10
        rev=rev+rem**3
        num=num//10
    if rev == num1:
        print('number is armstrong',rev)

## 16- Fiboncci serise up to nth term

In [ ]:
num=eval(input("enter a number"))
def fib(n):
    a=0
    b=1
    if n==1:
        print(a)
    else:
        for i in range(2,n+1):
            c=a+b
            a = b
            b = c
            print(c)
fib(num)

## 17- Factorial of a number (5!=1 * 2 * 3 * 4*5=120)

In [ ]:
num=eval(input("enter a number "))
sum1=1
for i in range(1,num+1):
    sum1=sum1*i
print(sum1)

## 18 - power of a number (2^3=8 or 3^4=81 or 4^5=1024)

In [ ]:
number=eval(input('enter a number'))
def power(num):
    num1=num+1
    return(num**num1)

result=power(number)
print("power of a number",result)

In [ ]:
base=eval(input("enter a base"))
exp=eval(input("enter a exponent"))
power=base**exp
print(power)

## 19- factor of a number (10=1,2,5 or 15=1,3,5)

In [ ]:
num=eval(input("enter a number"))
for i in range(1,num):
    rem=num%i
    if rem==0:
        print(i)

## 20 - check the number is strong number
#### ex - number(145) 1!+4!+5!=145

### method-1

In [ ]:
def fac(rem):
    s=1
    for i in range(1,rem+1):
        s=s*i
    return(s)
sum1=0
num=145
while num!=0:
    rem=num%10
    sum1=sum1+fac(rem)
    num=num//10
    
print(sum1)

### method-2

In [ ]:
num=145
d=1
f=0
while num != 0:
    rem=num%10
    #print(rem)
    for i in range(1,rem+1):
        #print(i)
        d=d*i
        #print(d)
    s=d
        #break
    d=1
    f=f+s
    num=num//10
print(f)

## 21- check the number is perfect number
 ### ex. 6= 1,2,3 are divisor 1*2*3=6

In [ ]:
num=eval(input("enter a number"))
num1=num
s=1
for i in range(1,num):
    #print(i)
    rem=num%i
    if rem==0:
        s=s*i
if num1==s:
    print("The given number is perfect number",num1)
else:
    print("The given number is not a perfect number",num1)

## 22- check the number is perfect square 
#### ex. 4=2*2 of 16=4*4

In [ ]:
#import math
num=eval(input("enter a number"))
for i in range(1,num):
    divisor=num//i
    if divisor == i:
        print("The given number is perfect square number",num)
# else:
#     print("The given number is perfect square number",num)

## Q-23

In [ ]:
## enter a number and find to factorial and how maney zero in number of factorial
n=eval(input("Enter a number : "))
s=1
count=0
for i in range(1,n+1):
    s=s*i
f=str(s)
for x in f:
    if x == '0':
        count=count+1
print(f"{n} of factorial: {s}")
print('count of zero',count)

## Q-24  Abundant number

In [ ]:
num=eval(input("Enter a number"))
sum1=0
for i in range(1,num):
    if num%i == 0:
        #print(i)
        sum1=sum1+i
if sum1 > num:
    print("The given number is Abundant number",num)
else:
    print("The given number is not Abundant number",num)

In [ ]:
n=eva
num=eval(input("Enter a number"))
sum1=0
for i in range(1,num):
    if num%i == 0:
        #print(i)
        sum1=sum1+i
if sum1 > num:
    print("The given number is Abundant number",num)
else:
    print("The given number is not Abundant number",num)

## Q-25 friendly  pair

In [ ]:
num=eval(input("Enter the first number"))
num1=eval(input("enter a second number"))
add=0
d=0
for i in range(1,num+1):
    if num %i == 0:
        add=add+i
        d=add/num

add1=0
d1=0
for i in range(1,num1+1):
    if num1 %i == 0:
        add1=add1+i
        d1=add1/num1

if d == d1:
    print("The given number is Friendly pair",d,d1)
    print("The given number is Friendly pair",num,num1)

## Q-26 Highest common factor (HCF) of tow number

In [76]:
first=eval(input("enter first number"))
second=eval(input("enter second number"))
c=0
if first>second:
    smal=second
else:
    smal=first
for i in range(1,smal+1):
    if first%i == 0 and second%i == 0 :
        #print(i)
        if i>c:
            c=i
        else:
            print(i)
print('HCF of tow number',c)

enter first number12
enter second number16
HCF of tow number 4

## Q-28 lowest common factor (LCM) of tow number

In [80]:
num1=eval(input("enter first number"))
num2=eval(input("enter second number"))
if num1>num2:
    gretar=num1
    small=num2
else:
    gretar=num2
    small=num1
if gretar %small == 0:
    print('Tow number of lcm',gretar)
else:
    print('Tow number of lcm',num1*num2)

enter first number12
enter second number14
Tow number of lcm 168

In [84]:
num1=eval(input("enter first number"))
num2=eval(input("enter second number"))
if num1>num2:
    rem=num1%num2
    #print(rem)
    a=num1//rem
    b=num2//rem
    lcm=rem*a*b
    print(f"Tow number of lcm{lcm}")
else:
    rem=num2%num1
    #print(rem)
    c=num1//rem
    d=num2//rem
    lcm=rem*c*d
    print(f"Tow number of lcm{lcm}")
    #print('k')

enter first number13
enter second number21
Tow number of lcm16

In [ ]:
import math

def compute_lcm(x, y):
    # Calculate the GCD
    gcd = math.gcd(x, y)
    
    # Calculate the LCM
    lcm = (x * y) // gcd
    return lcm
# Example usage
num1 = 54
num2 = 24
print("The L.C.M. is", compute_lcm(num1, num2))

In [ ]:
num1=eval(input("Enter first number"))
num2=eval(input("Enter second number"))
import math
def lcm(x,y):
    gcd=math.gcd(x,y)
    #print(gcd)
    result=(x*y)//gcd
    print(result)
lcm(num1,num2)

In [ ]:
n1=54
n2=24
for i in range(2,10):
    if n1%i == 0 and n2%i == 0:
        print(i)
        s=+

In [ ]:
26%2

In [ ]:
# This function computes GCD 
def compute_gcd(x, y):

   while(y):
       x, y = y, x % y
   return x

# This function computes LCM
def compute_lcm(x, y):
   lcm = (x*y)//compute_gcd(x,y)
   return lcm

num1 = 54
num2 = 24 

print("The L.C.M. is", compute_lcm(num1, num2))

In [ ]:
7%12

## Q-29 Decimal to binary conversion

In [275]:
num=eval(input("enter a nunber"))
d=[]
while num !=0:
    rem=num%2
    d.append(rem)
    #print(rem)
    num=num//2
d.reverse()
#print(d)
for i in range(0,len(d)):
    print(d[i],end='')

enter a nunber10
[1, 0, 1, 0]

## Q-30 Decimal to octal conversion

In [ ]:
num=input('enter a number ') #670
d=[]
while num !=0:
    rem=num%8
    #print(rem)
    d.append(rem)
    num=num//8
d.reverse()
print(d)
for i in range(0,len(d)):
    print(d[i],end='')

## Q-31 Decimal to Hexadecimal conversion

In [ ]:
num=eval(input('670
d=[]
while num !=0:
    rem=num%6
    #print(rem)
    d.append(rem)
    num=num//6
d.reverse()
print(d)

## Q-32 Binary to Decimal conversion

In [ ]:
a=input("enter a number")
d1=list(a)
d1
add1=0
count=1
for i in range(0,len(d1)):
    #print(d1[i])
    if d1[i] < '2':
        add1=add1+int(d1[i])*2**count
        #print(count)
        #print(2**count)
        #print(s)
        count=count+1
print(add1)

## Q-30 Binary to octal conversion

In [305]:
a=input("enter a  binary  number")
d1=list(a)
d1
add1=0
count=1
for i in range(0,len(d1)):
    #print(d1[i])
    if d1[i] < '2':
        add1=add1+int(d1[i])*2**count
        #print(count)
        #print(2**count)
        #print(s)
        count=count+1
print('first convert to decimal',add1)
add1
g=[]
while add1!=0:
    rem=add1%8
    g.append(rem)
    #print(rem)
    add1=add1//8
g.reverse()
octal=0
for i in range(0,len(g)):
    #print("octal number")
    octal=g[i]
print("octal number",octal)

enter a  binary  number1010
first convert to decimal 10
octal number 2

## Q-30 Binary to octal conversion

In [316]:
num=input("enter a number")
for i in num:
    total=total*count+

enter a number1
1

In [ ]:
## Q-31 Binary to hexadecimal conversion

In [ ]:
## Q-32 Octa to Decimal conversion

## Q-33 Hexadecimal to binary conversion

## Q-34 Quadrants in which the given coordinates lie

In [ ]:
X=eval(input("Enter the X-coordinate:"))
Y=eval(input("Enter the Y-coordinate:"))
if X>0 and Y>0:
    print( 'lie in first Quadrants',(X,Y))
elif X<0 and Y>0:
    print( 'lie in second Quadrants',(X,Y))
elif X<0 and Y<0:
    print( 'lie in Three Quadrants',(X,Y))
elif X>0 and Y<0:
    print( 'lie in forth Quadrants',(X,Y))
else:
    print("lie on center")

In [ ]:
def find_quadrant(x, y):
    if x > 0 and y > 0:
        return "Quadrant 1"
    elif x < 0 and y > 0:
        return "Quadrant 2"
    elif x < 0 and y < 0:
        return "Quadrant 3"
    elif x > 0 and y < 0:
        return "Quadrant 4"
    else:
        return "Origin (x = 0, y = 0)"

# Example usage:
x_coord = float(input("Enter the x-coordinate: "))
y_coord = float(input("Enter the y-coordinate: "))
print(f"The given coordinates lie in {find_quadrant(x_coord, y_coord)}.")

#### Q-35 Money in number inputted by user finde how many 500,200,100,50 notes are there

In [ ]:
d=eval(input("enter a number"))
def f(d):
    while d !=0:
        if d>499:
            dev5=d//500
            print('500',dev5)
            d=d-500*dev5
        elif d>199 and d<500:
            dev6=d//200
            print('200',dev6)
            d=d-200*dev6
        elif d>50 and d<200:
            dev7=d//100
            print('100',dev7)
            d=d-100*dev7
        elif d>49 and d<100:
            dev8=d//50
            print('50',dev8)
            d=d-50*dev8
    #return 'hai'
    
f(d)

In [ ]:
amount=eval(input("Enter your amount"))
d500=amount//500
amount=amount%500
d200=amount//200
amount=amount%200
d100=amount//100
amount=amount%100
print(f'{d500,d200,d100}500,200,100')

## Q-36 Addition of tow fraction

In [ ]:
nom1=eval(input("Enter first number of nominetor"))
den1=eval(input("Enter first number of denominetor"))
nom2=eval(input("Enter second number of nominetor"))
den2=eval(input("Enter second number of denominetor"))
mul=den1*den2
s=mul//den1
s=s*nom1
d=mul//den2
d=d*nom2
print(f" tow fraction add={nom1}/{den1}+{nom2}/{den2}={s+d}/{mul}")

In [78]:
num1=12
num2=14
if num1>num2:
    rem=num1%num2
    #print(rem)
    a=num1//rem
    b=num2//rem
    hcf=rem*a*b
    print(hcf)
else:
    rem=num2%num1
    #print(rem)
    c=num1//rem
    d=num2//rem
    hcf=rem*c*d
    print(hcf)
    #print('k')

2
84
k

In [67]:
num1%num2

2

## Q-37 Counting the number of days in given mont of a year

In [ ]:
year=eval(input("Enter the  year"))
month=eval(input("Enter  the month"))
if month==2 and year%4 ==0 or year%100==0 and year%400==0:
    print('number of days 29' )
elif month ==2:
    print("number of days 28")
elif month==1 or month==3 or month==5 or month==7 or month==8 or month==10:
    print("number of days 31")
else:
    print("number of days 30")

## Q-38 Finding roots of a quadratic quation

### Q-39 reolace all 0 with 1 in a given integer (given=1230205 , output(1231215))

In [62]:
num=[1,2,3,0,2,0,5]
num1=[]
for i in range(0,len(num)):
    if num[i]==0:
        num[i]=1
        print(num)

[1, 2, 3, 1, 2, 0, 5]
[1, 2, 3, 1, 2, 1, 5]

In [58]:
num=[1,2,3,0,2,0,5]
num1=str(num)
num1.replace('0','1')

'[1, 2, 3, 1, 2, 1, 5]'

### Q-40 Finding number of times X digit occurs in a given input ex.(828272,x=2) output(2)

In [2]:
num1=eval(input("enter a number"))
num1=str(num1)
count=0
for i in num1:
    if i=='2':
        count+=1
print(count)

enter a number822872
3

## Q-41 Find the largest element in the list

In [85]:
list1=[12,13,14,100,1,2,3,4,200]
result=list1[1]
for i in range(1,len(list1)):
    if list1[i]>result:
        result=list1[i]
print(result)

200

In [78]:
def m(list1):
    a=list1[0]
    for i in list1:
        if i>a:
            a=i
        return a
m([12,13,14,100,1,250,3,4])
print(a)

200

In [20]:
list1=[12,13,14,100,1,2,3,4,200]
list1.sort()
list1.reverse()
list1[0]

200

In [49]:
list2=['vijay','sanjay','pankaj','shahil','a','z']
for i in range(len(list2)):
    for j in range

0
1
2
3
4
5

## Q-42 Find the smallest element in the list

In [52]:
list1=[12,13,14,100,1,2,3,4,200]
list1.sort()
list1[0]

1

In [86]:
list1=[12,13,14,100,1,2,3,4,200]
result=list1[1]
for i in range(1,len(list1)):
    if list1[i]<result:
        result=list1[i]
print(result)

1

In [81]:
list1=[12,13,14,100,1,2,3,4,200]
def m(list1):
    n=list1[0]
    for i in list1:
        if i<a:
            n=i
        return n
m(list1)

12

## Q-43 Find the largest and smallest element in the list

In [53]:
list1=[12,13,14,100,1,2,3,4,200]
list1.sort()
list1[0],list1[-1]

(1, 200)

In [105]:
list1=[12,13,14,100,7,6,5,1,200]
result=list1[1]
result1=list1[1]
for i in range(1,len(list1)):
    if list1[i]<result:
        result=list1[i]
    elif list1[i]>result1:
        result1=list1[i]
print(f"smallest number of list:{result}, bigest number of list{result1}")

smallest number of list:1, bigest number of list200

## Q-44 Find the second smallest element in the list

In [54]:
list1=[12,13,14,100,1,2,3,4,200]
list1.sort()
list1[1]

2

In [187]:
list1=[12,13,14,100,1,2,3,4,200]
print("origanal list",list1)
for i in range(0,len(list1)):
    for j in range(i+1,len(list1)):
        if list1[i]>=list1[j]:
            n=list1[i]
            list1[i]=list1[j]
            list1[j]=n
print('new',list1)
list1[0],list1[-1]

origanal list [12, 13, 14, 100, 1, 2, 3, 4, 200]
new [1, 2, 3, 4, 12, 13, 14, 100, 200]

(1, 200)

In [188]:
l1=[76, 23, 45, 12, 54, 9] 
print("Original List:", l1)
 
for i in range(0, len(l1)):
    for j in range(i+1, len(l1)):
        if l1[i] >= l1[j]:
            l1[i], l1[j] = l1[j],l1[i]
print(l1)

Original List: [76, 23, 45, 12, 54, 9]
[9, 12, 23, 45, 54, 76]

## Q-45 Colculate the sum of element in a list

In [123]:
list1=[12,13,14,100,1,2,3,4,200]
result=0
for i in range(len(list1)):
    result=result+list1[i]
print(result)

349

In [119]:
list1=[12,13,14,100,1,2,3,4,200]
sum(list1)

349

## Q-46 Reverse the list

In [57]:
list1=[12,13,14,100,1,2,3,4,200]
list1[::-1]

[200, 4, 3, 2, 1, 100, 14, 13, 12]

In [139]:
list1=[12,13,14,100,1,2,3,4,200]
for i in range(-1,-len(list1)-1,-1):
    print(list1[i])

200
4
3
2
1
100
14
13
12

### Q-47 sort half is ascending order and other half in descending order list

In [227]:
list1=[10,3,2,4,1,6,20,5]
for i in range(len(list1)):
    for j in range(i+1,len(list1)):
        if list1[i]>= list1[j]:
            n=list1[j]
            list1[j]=list1[i]
            #print(n)
            list1[i]=n
print("sort list",list1)
a=len(list1)//2
list1[0:a:1],list1[-1:-a-1:-1]

sort list [1, 2, 3, 4, 5, 6, 10, 20]

([1, 2, 3, 4], [20, 10, 6, 5])

### Q-48 sort the element of list

In [237]:
list2=[1,5,3,6,8,2,0,3,4]
for i in range(0,len(list2)):
    for j in range(i+1,len(list2)):
        if list2[i] >= list2[j]:
            f=list2[j]
            list2[j] = list2[i]
            list2[i]=f
print(list2)

[0, 1, 2, 3, 3, 4, 5, 6, 8]

### Q-53 Find the frquency of element in a list

In [24]:
list3=[1,2,3,1,3,4,2,4,2,5]
list1=[0]*11
for i in list3:
    list1[i]+=1
list1

[0, 2, 3, 2, 2, 1, 0, 0, 0, 0, 0]

In [26]:
for i in range(len(list1)):
    if list1[i]>=1:
        print(i,list1[i])

1 2
2 3
3 2
4 2
5 1

### Q-50 Sorting element of list by frequency

In [78]:
num=[1,1,1,2,2]
num1=[0]*4
for i in range(0,len(num)):
    num1[num[i]]+=1

[0, 3, 2, 0]

In [95]:
for i in range(len(num1)):
    for j in range(i+1,len(num1)):
        if num1[i]>=num1[j]:
            ad=num1[j]
            num1[j]=num1[i]
            num1[i]=ad
num1

[0, 0, 2, 3]

### Q-51 Find the longest palindrome string in a list

In [102]:
num=[121,66,131,141]
for i in range(len(num)):
    for j in range(i+1,len(num)):
        if num[i]>=num[j]:
            af=num[j]
            num[j]=num[i]
            num[i]=af
num

[66, 121, 131, 141]

In [3]:
num=eval(input("enter a number"))
a=0
num1=num
while num !=0:
    rem=num%10
    num=num//10
    a=a*10+rem
if num1==a:
    print(a)

enter a number66
66

### Q-52 counting distict element in a list

### Q-53 Find the repeating element in the list

In [108]:
num=[1,2,3,4,1,2,3,5,6]
for i in range(len(num)):
    for j in range(i+1,len(num)):
        if num[i] == num[j]:
            print(num[j])

1
2
3

### Q-54 Find the non repeating element in a list

In [21]:
num=[1,2,3,4,1,2,3,5,6]
unique=[i for i in num if num.count(i)==1]
unique

[4, 5, 6]

[0, 0, 0, 0]

### Q-55 removing duplicates element frome a list

In [ ]:
num=[1,2,3,4,1,2,3,5,6]
for i in range(len(num)):

In [136]:
num=[1,2,3,1,2,2,3,3,3]
num1=[0]*5
for i in range(0,len(num)):
    num1[num[i]]+=1
    if count

[0, 2, 3, 4, 0]

## Q-60 counting the number of even and odd in a list

In [8]:
list1=[11,12,13,14,15,7,5]
count=0
count1=0
for i in list1:
    if i%2==0:
        count+=1
    else:
        count1+=1
print(f"even:{count},odd:{count1}")

even:2,odd:5

### Q-61 Finding symmetric pairs in a list in python
#### list=[(10,20),(30,40),(15,20),(11,12),(20,10),(40,30),(20,15)]
#### output=(10,20),(30,40),(15,20),(20,10),(40,30),(20,15)

In [48]:
list2=[(10,20),(30,40),(15,20),(11,12),(20,10),(40,30),(20,15)]
# for i in range(len(list2)):
#     #print(list2[i])
#     for j in range(i+1,len(list2)):
#         #print(list2[j])
#         if list2[i]==list2[j]:
#             print("hau")
#             break

In [53]:
a,b=(10,20)

In [62]:
for i in list2:
    a,b=i
    b,a=i
    if a,b==b,a:
        print(a,b)

SyntaxError: invalid syntax (174889368.py, line 4)

### Q-62 Find maximum product subarray in a given list

### Q-63 Finding list are disjoint or not [1,2,3],[4,5,6] are disjoint because element are different in the list

### Q-64 Determine list is a subset of another list or not

### Q-65 Determine can all number of a list be made equal

### Q-66 Finding minimum sum of absolute difference of given list

### Q-67 Sort the array according to order difind by another array

### Q-70 Rotation of elements of array left and right

# String question start

### Q-71 Check whether a characte is a vowel or consonant

In [8]:
num=str(input("Enter  a characte "))
vowel='aeiou'
for i in num:
    if i in vowel:
        print("The given characte is vowel",i)
    else:
        print("The given characte is consonant",i)

Enter  a characte a
The given characte is vowel a

### Q-72 Check whether a characte is a alphabet or not

In [24]:
# num='ndcnw123'
# for i in num:

### Q-73 Find the Ascii value of a character

In [28]:
num="ab"
for i in num:
    print("Ascii value of given character", i,":",ord(i))

Ascii value of given character a : 97
Ascii value of given character b : 98

### Q-74 Lenth of the string without is use len function

In [33]:
num='abhdjdhk'
count=0
for i in num:
    count+=1
print("len of given string",count)

len of given string 8

### Q-75 Toggle each character in string (lower to upper case ,upper to lower case)

In [37]:
'a'.islower()

True

### Q-76 Count the number of vowels

In [44]:
num="kcdcwcidcrgtaaaes"
vowel="aeiou"
count=0
for i in num:
    if i in vowel:
        count+=1
print("numer of vowel in given string",count)

numer of vowel in given string 5

### Q-77 Remove the vowels from the string

In [61]:

for i in num:
    if i not in vowel:
        a=i
        print(a,end=" ")

k c d c w c d c r g t s

### Q-78 Check if the string is palindrome or not